:root {
  --maxScreenWidth: 800px;
  --primaryColor: #6191d9;
  --primaryColorSoft: #225cb4;
  --secondaryColor: #888;
  --shadow: 0px 4px 4px rgba(119, 119, 119, 0.2);
}

body{
/*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='254' height='254' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%2379797910' stroke-width='1.1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2379797910'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
*/
}

.nav-link {
  color: var(--secondaryColor) !important;
}

.active {
  color: #6191d9 !important;
  font-weight: bold;
}

.background {
  content: ""; /* Necesario para que el pseudo-elemento sea visible */
  position: absolute; /* Posiciona el pseudo-elemento sobre la sección */
  top: 0;
  left: 0;
  width: 100%; /* Ocupa todo el ancho */
  height: 100%; /* Ocupa toda la altura */
  background-image: url("../img/background.jpg"); /* Imagen de fondo */
  background-size: cover; /* Escala la imagen para cubrir el área */
  background-position: center; /* Centra la imagen */
  opacity: 0; /* Ajusta la opacidad del fondo */
  z-index: -1; /* Envía el pseudo-elemento detrás del contenido */
  height: 100vh; /* Ocupa toda la altura de la ventana */
}

.btn-perfect {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
}

.bento-card {
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  max-width: 500px;
  background-color: rgba(var(--bs-tertiary-bg-rgb)) !important;
  cursor: default;

  img {
    margin: auto;
  }
}

.bento-card:hover {
  background-color: #0d6dfd4b !important;
  transition: 0.3s;
  box-shadow: var(--shadow);

  img {
    transition: 0.3s;
    scale: 1.1;
  }
}

.section {
  width: 95%;
  max-width: 800px;
  margin: auto;
}

.reveal{
  animation: appear linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;

}
.full-section{
  min-height: 100vh;
}

.icons-container {
  .card {
    background-color: var(--bs-tertiary-bg);
    padding: 16px;
  }
  img {
    max-width: 60px;
  }
}

.icons-container .card:hover {
  box-shadow: var(--shadow);
  border-color: var(--bs-primary);
  transition: all 0.3s;
}

@keyframes appear {
  from{opacity: 0; scale: 0.9;}
  to{opacity: 1; scale: 1;}
}