@font-face {
    font-family: 'Ubuntu';
    src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
}

*{
    font-family: 'Ubuntu';
}
body{
    background-color: rgb(239, 241, 244);
}
header{
    background-color: rgb(50, 50, 50);
    color: white;
    padding: 1rem 0.7rem;
    display: flex;
    align-items: center;
}
header a{
    width: 100%;
    color: white;
    font-size: 1.3em;
    text-decoration: none !important;
} 
header h1{
    cursor: default;
    text-align: end;
    width: 100%;
    right: 1px;
    font-size: 1.7rem;
}

.configContainer{
    background-color: white;
    margin-top: 2rem;
}