#Schedule{
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    max-width: 400px;
    cursor: default;
    overflow: hidden;
    margin: auto;
}
#Schedule > .date{

    padding: 0.5rem 0;
    text-align: center;
} 
#Schedule > .custom-text {
    
    padding: 0.5rem 1rem;
    text-align: start;
}
#Schedule > .steps {
    display: flex;
    flex-direction: column;
}
#Schedule>.steps>span {
    padding: 0.5rem 0;
    text-align: center;
    cursor: pointer;
}
#Schedule>.steps>span:hover{
    transition: 0.5s background-color;
}


/* Styles */
.dark > .date{
    background-color: rgb(43, 43, 43);
    color: rgb(235, 235, 235);
}

.dark>.custom-text {
    background-color: rgb(76, 76, 76);
    color: white;
}

.dark>.steps {
    background-color: rgb(56, 56, 56);
    color: white;
    transition: background-color 0.5s;
}

.dark > .steps > *:hover {
    border-radius: 5px;
    background-color: grey;
    transition: background-color 0.5s;
}

.dark .disabled-day {
    color: grey;
}

.dark .selected {
    background-color: grey;
}


.ligth>.date{
    background-color: rgb(0, 157, 255);
    color: white;
}

.ligth>.custom-text {
    background-color: rgb(222, 222, 222);
    color: rgb(64, 72, 87);
}

.ligth > .steps {
    background-color: rgb(254, 254, 254);
    color: rgb(64, 72, 87);
}

.ligth .steps > *:hover{
    border-radius: 5px;
    background-color: rgb(196, 232, 255);
    transition: background-color 0.5s;
}

.ligth .disabled-day {
    color: rgb(181, 202, 215);
}

.ligth .selected {
    background-color: rgb(196, 232, 255);
}