/*:root{
    --formSwipperColor : #438ce6;
    --formSwipperColorDisabled: rgb(109, 109, 109);
    --formSwipperBackGround : white;
    --formSwipperColorBorder : #b4b4b4ac;
}*/
.formSwipper{
    border: 1px solid;
    border-color: var(--formSwipperColorBorder);
    border-radius: 5px;
    padding: 1rem;
    padding-bottom: 60px;
    min-height: 55vh;
    position: relative;
    background-color: var(--formSwipperBackGround);
}
.formPage{
    opacity: 0;
    animation: fadeInFormSwipper 1s linear forwards;
}
@keyframes fadeInFormSwipper {
    from{opacity: 0;}
    to{ opacity: 1;}
}

/* NavBar */
.formSwipper nav{
    display: flex;
    position: static;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.formSwipper nav > div{
    flex-grow: 1;
    padding: 1rem;
}

.formSwipper nav > :first-child{
    text-align: start;
}

.formSwipper nav > :last-child {
    text-align: end;
}

.formSwipper nav > div > button{
    cursor: pointer;
    border: 1px solid;
    border-color: var(--formSwipperColor);
    color: var(--formSwipperColor);
    border-radius: 5px;
    padding: 0.3rem 1rem;
    background-color: #ffffff00;
    transition: background-color 0.5s, color 0.5s, border 0.5s;
}
.formSwipper nav >div > button:hover{
    background-color: var(--formSwipperColor);
    color: var(--formSwipperBackGround);
    transition: background-color 0.5s, color 0.5s;
}
.formSwipper nav>div>button:disabled {
    cursor: not-allowed;
    border: 1px solid;
    border-color: #ffffff00;
    background-color: #ffffff00;
    color: var(--formSwipperColorDisabled);;
}
.formSwipper nav>div>button:disabled:hover {
    color: var(--formSwipperColorDisabled);
}